.shop-btn{
    padding: 12px 26px;
    background-color: blue;
    border-radius: 4px;
    border: none;
    color: white;
}

.big-btn{
    padding: 13px 34px;
    border-radius: 2px;
    background-color: #fff;
    border: none;
}